UTTT.Ejemplo.Persona.WinForm/Service References/Ejemplo/Ejemplo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_persona" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Persona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StrValorSexo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrClaveUnica" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StrNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StrAPaterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StrAMaterno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCatSexo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CatSexoTemp" type="tns:CatSexo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CatSexo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StrValor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StrDescripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarPersonaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_persona" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarPersonaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_persona" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarPersonaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarGlobalPersona">
        <s:complexType />
      </s:element>
      <s:element name="consultarGlobalPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarGlobalPersonaResult" type="tns:ArrayOfPersona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPersona">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Persona" nillable="true" type="tns:Persona" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarUnicaPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_persona" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarUnicaPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarUnicaPersonaResult" type="tns:Persona" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="tns:Direccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Direccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StrColonia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StrNumero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StrCalle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPersona" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertarDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarDireccionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="tns:Direccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editarDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editarDireccionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="tns:Direccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarDireccionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarGlobalDireccion">
        <s:complexType />
      </s:element>
      <s:element name="consultarGlobalDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarGlobalDireccionResult" type="tns:ArrayOfDireccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDireccion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Direccion" nillable="true" type="tns:Direccion" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultarUnicaDireccion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_direccion" type="tns:Direccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultarUnicaDireccionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultarUnicaDireccionResult" type="tns:Direccion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaGlobalSexo">
        <s:complexType />
      </s:element>
      <s:element name="consultaGlobalSexoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaGlobalSexoResult" type="tns:ArrayOfCatSexo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCatSexo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CatSexo" nillable="true" type="tns:CatSexo" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:insertarPersona" />
  </wsdl:message>
  <wsdl:message name="insertarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:insertarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="editarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:editarPersona" />
  </wsdl:message>
  <wsdl:message name="editarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:editarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarPersona" />
  </wsdl:message>
  <wsdl:message name="eliminarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="consultarGlobalPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:consultarGlobalPersona" />
  </wsdl:message>
  <wsdl:message name="consultarGlobalPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:consultarGlobalPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="consultarUnicaPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:consultarUnicaPersona" />
  </wsdl:message>
  <wsdl:message name="consultarUnicaPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:consultarUnicaPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="insertarDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:insertarDireccion" />
  </wsdl:message>
  <wsdl:message name="insertarDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:insertarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="editarDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:editarDireccion" />
  </wsdl:message>
  <wsdl:message name="editarDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:editarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarDireccion" />
  </wsdl:message>
  <wsdl:message name="eliminarDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="consultarGlobalDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:consultarGlobalDireccion" />
  </wsdl:message>
  <wsdl:message name="consultarGlobalDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:consultarGlobalDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="consultarUnicaDireccionSoapIn">
    <wsdl:part name="parameters" element="tns:consultarUnicaDireccion" />
  </wsdl:message>
  <wsdl:message name="consultarUnicaDireccionSoapOut">
    <wsdl:part name="parameters" element="tns:consultarUnicaDireccionResponse" />
  </wsdl:message>
  <wsdl:message name="consultaGlobalSexoSoapIn">
    <wsdl:part name="parameters" element="tns:consultaGlobalSexo" />
  </wsdl:message>
  <wsdl:message name="consultaGlobalSexoSoapOut">
    <wsdl:part name="parameters" element="tns:consultaGlobalSexoResponse" />
  </wsdl:message>
  <wsdl:portType name="EjemploSoap">
    <wsdl:operation name="insertarPersona">
      <wsdl:input message="tns:insertarPersonaSoapIn" />
      <wsdl:output message="tns:insertarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarPersona">
      <wsdl:input message="tns:editarPersonaSoapIn" />
      <wsdl:output message="tns:editarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <wsdl:input message="tns:eliminarPersonaSoapIn" />
      <wsdl:output message="tns:eliminarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarGlobalPersona">
      <wsdl:input message="tns:consultarGlobalPersonaSoapIn" />
      <wsdl:output message="tns:consultarGlobalPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarUnicaPersona">
      <wsdl:input message="tns:consultarUnicaPersonaSoapIn" />
      <wsdl:output message="tns:consultarUnicaPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarDireccion">
      <wsdl:input message="tns:insertarDireccionSoapIn" />
      <wsdl:output message="tns:insertarDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editarDireccion">
      <wsdl:input message="tns:editarDireccionSoapIn" />
      <wsdl:output message="tns:editarDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarDireccion">
      <wsdl:input message="tns:eliminarDireccionSoapIn" />
      <wsdl:output message="tns:eliminarDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarGlobalDireccion">
      <wsdl:input message="tns:consultarGlobalDireccionSoapIn" />
      <wsdl:output message="tns:consultarGlobalDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultarUnicaDireccion">
      <wsdl:input message="tns:consultarUnicaDireccionSoapIn" />
      <wsdl:output message="tns:consultarUnicaDireccionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaGlobalSexo">
      <wsdl:input message="tns:consultaGlobalSexoSoapIn" />
      <wsdl:output message="tns:consultaGlobalSexoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EjemploSoap" type="tns:EjemploSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarPersona">
      <soap:operation soapAction="http://tempuri.org/insertarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarPersona">
      <soap:operation soapAction="http://tempuri.org/editarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <soap:operation soapAction="http://tempuri.org/eliminarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarGlobalPersona">
      <soap:operation soapAction="http://tempuri.org/consultarGlobalPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarUnicaPersona">
      <soap:operation soapAction="http://tempuri.org/consultarUnicaPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDireccion">
      <soap:operation soapAction="http://tempuri.org/insertarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarDireccion">
      <soap:operation soapAction="http://tempuri.org/editarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDireccion">
      <soap:operation soapAction="http://tempuri.org/eliminarDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarGlobalDireccion">
      <soap:operation soapAction="http://tempuri.org/consultarGlobalDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarUnicaDireccion">
      <soap:operation soapAction="http://tempuri.org/consultarUnicaDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaGlobalSexo">
      <soap:operation soapAction="http://tempuri.org/consultaGlobalSexo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EjemploSoap12" type="tns:EjemploSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertarPersona">
      <soap12:operation soapAction="http://tempuri.org/insertarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarPersona">
      <soap12:operation soapAction="http://tempuri.org/editarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <soap12:operation soapAction="http://tempuri.org/eliminarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarGlobalPersona">
      <soap12:operation soapAction="http://tempuri.org/consultarGlobalPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarUnicaPersona">
      <soap12:operation soapAction="http://tempuri.org/consultarUnicaPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarDireccion">
      <soap12:operation soapAction="http://tempuri.org/insertarDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editarDireccion">
      <soap12:operation soapAction="http://tempuri.org/editarDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDireccion">
      <soap12:operation soapAction="http://tempuri.org/eliminarDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarGlobalDireccion">
      <soap12:operation soapAction="http://tempuri.org/consultarGlobalDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarUnicaDireccion">
      <soap12:operation soapAction="http://tempuri.org/consultarUnicaDireccion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaGlobalSexo">
      <soap12:operation soapAction="http://tempuri.org/consultaGlobalSexo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ejemplo">
    <wsdl:port name="EjemploSoap" binding="tns:EjemploSoap">
      <soap:address location="http://localhost:33616/Ejemplo.asmx" />
    </wsdl:port>
    <wsdl:port name="EjemploSoap12" binding="tns:EjemploSoap12">
      <soap12:address location="http://localhost:33616/Ejemplo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>